@import "./mixins.scss";

$font-size-18: 36px;
$font-size-16: 32px;
$font-size-14: 28px;
$font-size-12: 24px;

$text-color: #333333;

$margin-width: 32px;
$padding-width: 32px;

$element-space: 16px;
